@{
    ViewData["Title"] = "Home";
}

<div class="bg-blue-gradient">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_ShowcasePartial" />
    </div>
</div>