<div class="bg-blue-gradient">
    <div class="container">

        <!-- pagetitle -->
        <section id="page-title">
            <div class="content">
                <h1>Services</h1>
                <div class="breadcrumb">
                    <a href="#">Home</a> | <a href="#">Services</a>
                </div>
            </div>
        </section>

    </div>
</div>