<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-code me-2"></i>
            Modified ASP.NET MVC
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                <a class="nav-link" asp-controller="Contacts" asp-action="Index">Contacts</a>
            </div>
        </div>
    </div>
</nav>

