<div class="bg-darkblue text-white">
    <div class="container py-5">
        <div class="d-flex align-items-center">
            <div class="title">
                <h1>Products</h1>
                <h5>Product | Index</h5>
            </div>
        </div>     
    </div>
</div>