<div class="header-grid">
    <div id="branding">
        <h1>OmniVus.</h1>
        <p>IT Service & Technology</p>
    </div>
    <partial name="_TopMenuPartial" />
    <partial name="_MainMenuPartial" />
</div>