<nav id="main-menu">
    <div class="menu-items">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Services" asp-action="Index">Services</a>
        <a asp-controller="Contact" asp-action="Index">Contact</a>
    </div>
    <a asp-controller="Contact" asp-action="BookMeeting" class="btn btn-main">Book a Meeting</a>
</nav>
