<nav id="top-menu">
    support@domain.com
    <div class="social">
        <a href="https://facebook.com">facebook</a>
        <a href="https://instagram.com">instagram</a>
        <a href="https://twitter.com">twitter</a>
        <a href="https://linkedin.com">linkedin</a>
    </div>
</nav>
