@{
    ViewData["Title"] = "Services";
}

<div class="bg-blue-gradient">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_PageTitlePartial" />
    </div>
</div>