@model SignInModel

@{
    ViewData["Title"] = "Logga in";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div id="signin">
            <div class="title">
                <h1>@ViewData["Title"]</h1>
                <p>Logga in med din e-postadress och lösenord. Inte medlem: <a asp-action="SignUp">Skapa ett konto här</a></p>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl" class="col-8">
                    <div class="row g-3">
                        <div class="mb-3">
                            <input asp-for="Email" type="text" class="form-control" placeholder="Ange e-postadress">
                            <span asp-validation-for="Email" class="error"></span>
                        </div>
                        <div class="mb-5">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Ange lösenord">
                            <span asp-validation-for="Password" class="error"></span>
                        </div>
                       
                        <div asp-validation-summary="ModelOnly" class="error"></div>

                        <button type="submit" class="btn btn-main">@ViewData["Title"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}